*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:'Poppins', sans-serif;
    }

    body{
      background:#f4faf6;
    }

    /* Navbar */
    .navbar{
      background:#fff;
      padding:15px 50px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      box-shadow:0 4px 10px rgba(0,0,0,0.08);
    }

    .logo{
      font-size:24px;
      font-weight:600;
      color:#2f855a;
    }

    /* search box */
    .search-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 60%;
  max-width: 400px;
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.search-box input:focus {
  border-color: #2f7d32;
  box-shadow: 0 0 5px rgba(47, 125, 50, 0.3);
}

/* category  section*/
.category-filter {
  display: flex;
  gap: 15px;
  padding: 15px 20px;
  background: #f3f3f3;
}

.category-filter button {
  padding: 8px 16px;
  border: none;
  background: #2e7d32;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.category-filter button:hover {
  background: #1b5e20;
}

    .nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-btn {
  background: #2f855a;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.nav-btn:hover {
  background: #276749;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* Profile section */
.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Dropdown box */
.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 240px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  z-index: 999;
}

.profile-dropdown a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-dropdown a:hover {
  background: #f5f5f5;
}

.profile-dropdown hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.profile-dropdown .logout {
  color: red;
  font-weight: 500;
}


    /* Header */
    .header{
      text-align:center;
      padding:30px;
    }

    .header h2{
      color:#2f855a;
    }
    /* .quick-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 30px 0;
}

.action-card {
  background: #ffffff;
  padding: 20px;
  width: 280px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.action-card h3 {
  color: #2f855a;
  margin-bottom: 10px;
}

.action-btn {
  margin-top: 10px;
  background: #2f855a;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.action-btn:hover {
  background: #276749;
} */


    /* Products */
    .product-container{
      max-width:1200px;
      margin:auto;
      padding:20px;
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
      gap:25px;
    }

    .product-card{
      background:#fff;
      border-radius:15px;
      box-shadow:0 8px 25px rgba(0,0,0,0.08);
      overflow:hidden;
      transition:0.3s;
    }

    .product-card:hover{
      transform:translateY(-5px);
    }

    .product-card img{
      width:100%;
      height:180px;
      object-fit:cover;
    }

    .product-info{
      padding:15px;
    }

    .product-info h3{
      color:#2f855a;
      margin-bottom:5px;
    }

    .product-info p{
      font-size:14px;
      color:#666;
      margin-bottom:8px;
    }

    .price{
      font-weight:600;
      color:#256d47;
    }

    .cart-btn {
  margin-top: 8px;
  width: 100%;
  padding: 10px 0;
  background-color: #e6f4ea;
  color: #2f7d32;
  border: 1px solid #2f7d32;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart-btn:hover {
  background-color: #2f7d32;
  color: #fff;
}

/* Quantity model */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
}

.qty-row {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.qty-row input,
.qty-row select {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.confirm-btn {
  background: #2f855a;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  margin-bottom: 8px;
}

.cancel-btn {
  background: #eee;
  padding: 8px;
  width: 100%;
  border-radius: 20px;
  border: none;
}

